---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 medium-centered columns">
    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Story</h4>
      </header>

      <%= partial "components/_story" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_story" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Excerpt</h4>
      </header>

      <%= partial "components/_excerpt" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_excerpt" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Slats</h4>
      </header>

      <%= partial "components/_slats" %>
      
      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_slats" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Cards</h4>
      </header>

      <%= partial "components/_cards" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_cards" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4>Cover</h4>
        <p class="zeta">A cover image fills the screen horizontally and vertically</p>
      </header>

      <section class="relative container">
        <%= partial "components/_cover" %>
      </section>

      <footer class="pattern-footer"><a href="component-cover.html" class="button tiny hollow">Preview Cover Image</a></footer>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_cover" %>
        </xmp>
      </div>  
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4>Hero</h4>
        <p class="zeta">A hero image is a full width image that responsively scales to fit vertically. Often used to overlay headlines.</p>
      </header>

     <%= partial "components/_hero" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_hero" %>
        </xmp>
      </div> 

    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Overlays</h4>
      </header>

      <%= partial "components/_overlay" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_overlay" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Hovers</h4>
      </header>  

       <%= partial "components/_hover" %>
      
      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_hover" %>
        </xmp>
      </div>
    </section>

  </div>

<!--   <div class="medium-3 medium-push-2 columns">
    <ul class="side-nav no-padding bg-white radius rhythm-up">
      <% data.components.components.each do |item| %>
      <li><a href="#"><%= item %></a></li>
      <% end %>
    </ul>
  </div> -->
</div>
