---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 medium-centered columns">

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Pagination</h4>
      </header>

      <%= partial "foundation/_pagination" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_pagination" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Messages</h4>
      </header>

      <%= partial "foundation/_alerts" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_alerts" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Panel</h4>
      </header>

      <%= partial "foundation/_panels" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_panels" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Video</h4>
      </header>

      <%= partial "foundation/_video" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_video" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Modal</h4>
      </header>

      <%= partial "foundation/_modal" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_modal" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Dropdowns</h4>
      </header>

      <%= partial "foundation/_dropdowns" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_dropdowns" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Button Groups</h4>
      </header>

      <%= partial "foundation/_button-groups" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_button-groups" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Label</h4>
      </header>

      <%= partial "foundation/_label" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "foundation/_label" %>
        </xmp>
      </div>
    </section>
  </div>

<!--   <div class="medium-3 columns">
    <ul class="side-nav no-padding bg-white radius rhythm-up">
      <li><a href="#">Pagination</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Panels</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div> -->
</div>
