---
title: Mister Machine Patterns
---

<div class="narrow-row">
<section class="pattern-section bright">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-colors" %>
		</div>
	</div>
</section>

<section class="pattern-section bright">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-icons" %>
		</div>
	</div>
</section>

<section class="pattern-section">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-fonts" %>
		</div>
	</div>
</section>

<section class="pattern-section bright">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-headers" %>
		</div>
	</div>
</section>

<section class="pattern-section">
	<div class="row">
		<div class="pattern large-12 columns">	
			<%= partial "partials/_pattern-buttons" %>
		</div>
	</div>
</section>

<section class="pattern-section bright">
	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_pattern-forms" %>
		</div>
	</div>
</section>
</div>
